.App p {
  padding: 10px;
}

.social-card {
  color: #333;
  padding: 0 10px;
  max-width: 100px;
  margin: 1px;
  border: 1px solid #000;
  flex-direction: row;
  justify-content: space-between; 
  text-align: center;
  width: 20%;
  float: left;
}

.social-card h2 {
  font-size: 0.8em;
  text-align: justify;
  width: 200px;
}

.social-card small {
  display: block;
  font-size: .7em;
  font-weight: 400;
  color: #999;
  max-width: 225px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.social-card img {
  height: 36px;
  width: 36px;
  max-width: 100px;
  border: 10px
}