/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body {
  background: #111 no-repeat;
  background-image: -webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));
}

#content {
  margin-top: 30%;
  margin: 0 auto;
  width: 1000px;
  background: #FFF;
  /* padding: 10px; */
  height: 300px;
}

#errorDiv {
  background-color: red;
  color: #FFFFFF;
  padding-left: 25px;
}

